---
layout: main
---
<script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>

<div class="post-content">
  <div class="breadcrumbs">
    {% include breadcrumbs.html %}
  </div>

  {% if page.image.path != '/assets/images/site-image.png' %}
    <div class="eye-catch">
      <img style="width: 100%; object-fix: contain;" src="{{ page.image.path }}" alt="{{ page.title }}">
    </div>
  {% endif %}

  <header class="post-content-title border-bottom mb-4">
    <h1>{{ page.title }}</h1>

    <div class="row">
      <div class="col-sm-10 post-content-tags">
        <ul class="list-inline">
          {% for tag in page.tags %}
            <li class="list-inline-item"><a href="{{ baseurl }}/tags#{{ tag | slugize }}">{% tag_label tag %}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm-2 text-right">
        <span"><time class="post-date">{{ page.date | date: "%Y-%-m-%-d" }}</time></span>
      </div>
    </div>
  </header>

  <p>Table of Contents</p>
  <div class="post-content-toc">
    {% include toc.html html=content %}
  </div>
  <section>
  {{ content }}
  </section>

  <div class="post-content-share">
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-related="{{ site.twitter.username }}" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    {% include hatena_bookmark_button.html %}
    {% include pocket_button.html %}
  </div>

</div>

{% include related_posts.html %}

<script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
<script src="/assets/js/shared/post.js" defer></script>
