<div id="breadcrumbs">
  {% assign crumbs = page.url | remove: '/index.html' | split: '/' %}
  {% if crumbs.size > 1 and crumbs.last != "404" %}
    <ul itemscope itemtype="https://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a href="/" itemprop="item" >
          <span itemprop="name">もちゅろぐ</span>
        </a>
        <meta itemprop="position" content="1" />
      </li>

      {% assign position = 1 %}
      {% for crumb in crumbs offset: 1 %}
        {% assign position = position | plus: 1 %}
        {% if forloop.last %}
          <li>
            {{ page.title }}
          </li>
        {% else %}
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <a href="{{baseurl}}/tags#{{ crumb }}" itemprop="item">
              <span itemprop="name">{% tag_label crumb %}</span>
            </a>
            <meta itemprop="position" content="{{ position }}">
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
</div>
