<div class="profile">
  <div class="profile-title">
    Profile
  </div>
  <div class="profile-body">
    <img src="{{ site.user_image }}" class="profile-image float-sm-left">
    <p class="clearfix">{{ site.user_description }}</p>
  </div>
  <div class="profile-twitter">
    <a href="https://twitter.com/{{ site.twitter.username }}?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">
      Follow @mothule
    </a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
