$primary-color: #464646;
$secondary-color: #868686;
$border-color: rgb(68, 68, 68);


body, h1, h2, h3, h4, h5, p {
  color: $primary-color;
  font-family: monospace;
}

.secondary-text {
  color: $secondary-color;
}

table, td, th {
  border-collapse: collapse;
  border: 1px solid $border-color;
  padding: 2px;
}

.highlight {
  padding: 4px;
  margin-bottom: 16px;
}

// header
header {
  .title {
    font-size: 32px;
    color: $primary-color;
    a {
      color: $primary-color;
    }

  }
  small {
    color: $secondary-color;
  }
}

// footer
footer {
  width: 100%;
  background-color: rgb(52, 58, 64);
  font-size: 0.1rem;
  p {
    color: $secondary-color;
  }
}

// breadcrumbs
.breadcrumbs {
  margin-bottom: 8px;
}

// aside
.sidebar {
  // background-color: red;
}

// profile
.profile {
  .profile-title {
    border-bottom-color: black;
    border-bottom-style: solid;;
    border-bottom-width: 1px;
    margin-bottom: 8px;
  }

  .profile-body {
    .profile-image {
      width: 64px;
      height: 64px;
      margin-right: 8px;
    }

    p {
      font-size: 0.7rem;
      margin-bottom: 0;
    }
  }

  .profile-twitter {
    padding-top: 16px;
    padding-bottom: 16px;

  }
}

// tag cloud
.tag-cloud {
  // background-color: rgb(217, 77, 182);
  padding-bottom: 16px;

  .tag-cloud-title {
    border-bottom-color: black;
    border-bottom-style: solid;;
    border-bottom-width: 1px;
    margin-bottom: 8px;
  }
}

// Twitterタイムライン横幅はみ出す対応 for safari
@media screen and (max-width: 768px) and (min-width: 480px) {
  iframe .twitter-timeline-rendered {
    width: 490px !important;
  }
}
@media screen and (max-width: 480px) {
  iframe.twitter-timeline-rendered {
    width: 450px !important;
    margin: 0 auto;
  }
}
.timeline-Widget {
  max-width: 300px !important;
  width: 200px !important;
}
// END

// related posts
.related-posts {
  // background-color: rgb(106, 178, 182);

  .related-posts-title {
    border-bottom-color: black;
    border-bottom-style: solid;;
    border-bottom-width: 1px;
    margin-bottom: 16px;
    h2 {
      font-size: 1.25rem;
    }
  }

  .related-posts-body {
    font-size: 0.8rem;
    ul {
      // list-style-type: none;
      // padding-left: 0;
    }
  }
}

.categorized_posts {

}

.global-nav-current {
  color: green;
}


@import "top";
@import "post";
@import "list";
