$primary-color: #464646;
$secondary-color: #868686;
$border-color: rgb(68, 68, 68);


body, h1, h2, h3, h4, h5, p {
  color: $primary-color;
  font-family: 'Hiragino Kaku Gothic Pro', monospace;
}

.secondary-text {
  color: $secondary-color;
}

table, td, th {
  border-collapse: collapse;
  border: 1px solid $border-color;
  padding: 2px;
}

.highlighter-rouge {
  pre.highlight {
    letter-spacing: 0.01em;
    font-size: 0.8em;
    line-height: 1.6;
    padding: 4px;
    margin-bottom: 0;
    background-color: rgba(27, 31, 35, .0);
  }
}

code.highlighter-rouge {
  background-color: rgba(27, 31, 35, .07);
  padding: 0.1em;
  color: $primary-color;
}
.highlighter-rouge {
  .highlight {
    code {
      font-family: 'Monaco', monospace, sans-serif;
      font-weight: 100;
      font-size: 80%;
    }
  }
}

// header
header {
  .title {
    font-size: 32px;
    color: $primary-color;
    a {
      color: $primary-color;
    }

  }
  small {
    color: $secondary-color;
  }
}

// footer
footer {
  width: 100%;
  background-color: rgb(52, 58, 64);
  font-size: 0.1rem;
  p {
    color: $secondary-color;
  }
}

// breadcrumbs
.breadcrumbs {
  margin-bottom: 8px;
  ul {
    padding-left: 0;
    list-style-type: none;
    li {
      display: inline;
    }
    li:before {
      content: "＞";
    }
    li:first-child:before {
      content: none;
    }
  }
}

// aside
.sidebar {
  // background-color: red;
}

// profile
.profile {
  .profile-title {
    border-bottom-color: black;
    border-bottom-style: solid;;
    border-bottom-width: 1px;
    margin-bottom: 8px;
  }

  .profile-body {
    .profile-image {
      width: 64px;
      height: 64px;
      margin-right: 8px;
    }

    p {
      font-size: 0.7rem;
      margin-bottom: 0;
    }
  }

  .profile-twitter {
    padding-top: 16px;
    padding-bottom: 16px;

  }
}

// tag cloud
.tag-cloud {
  // background-color: rgb(217, 77, 182);
  padding-bottom: 16px;
  font-family: monospace;

  .tag-cloud-title {
    border-bottom-color: black;
    border-bottom-style: solid;;
    border-bottom-width: 1px;
    margin-bottom: 8px;
  }
}

// ranking article
.ranking-article-frame {
  // background-color: rgb(217, 77, 182);
  padding-bottom: 16px;
  font-family: monospace;

  .ranking-article-title {
    border-bottom-color: black;
    border-bottom-style: solid;;
    border-bottom-width: 1px;
    margin-bottom: 8px;
  }

  ol {
    //list-style-type: none;
    padding-left: 1rem;
  }
  li {
    padding-bottom: 8px;
  }
}

// Twitterタイムライン横幅はみ出す対応 for safari
@media screen and (max-width: 768px) and (min-width: 480px) {
  iframe .twitter-timeline-rendered {
    width: 490px !important;
  }
}
@media screen and (max-width: 480px) {
  iframe.twitter-timeline-rendered {
    width: 450px !important;
    margin: 0 auto;
  }
}
.timeline-Widget {
  max-width: 300px !important;
  width: 200px !important;
}
// END

// related posts
.related-posts {
  // background-color: rgb(106, 178, 182);

  padding-left: 0;
  list-style-type: none;

  .related-posts-title {
    border-bottom-color: black;
    border-bottom-style: solid;;
    border-bottom-width: 1px;
    margin-bottom: 16px;
    h2 {
      //font-size: 1.25rem;
    }
  }


  .related-posts-body {
    //font-size: 0.8rem;
    h3 {
      font-size: 1.1em;
    }
  }
}

.categorized_posts {

}

.global-nav-current {
  color: green;
}


@import "top";
@import "post";
@import "list";
