.post-content {
  padding-bottom: 64px;

  line-height: 2.0;
  letter-spacing: 0.01em;
  font-size: 1rem;

  p {
    margin-top: 0.5rem;
  }

  .post-content-tags {
  }

  .post-date {
    color: $secondary-color;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 32px;
    color: #000000;
  }

  h2 {
    @extend h1;
    font-size: 1.5rem;
    font-weight: bold;
    color: $primary-color;

    margin-top: 3rem;
    // padding-left: 1rem;
    // border-left-color: $border-color;
    // border-left-style: solid;
    // border-left-width: 1px;

    padding-bottom: 8px;;
    border-bottom-width: 1px;
    border-bottom-color: $header-bottom-color;
    border-bottom-style: solid;
  }

  h3 {
    @extend h1;
    font-size: 1.2rem;
    font-weight: bold;
    color: $primary-color;

    margin-top: 3rem;
    // margin-bottom: 0rem;
    border-left: none;
    padding-left: 0;
  }

  h4 {
    @extend h1;
    font-size: 1rem;
    font-weight: bold;
    color: $primary-color;

    border-left: none;
    padding-left: 0;
  }

  h5 {
    @extend h1;
    font-size: 0.9rem;
    font-weight: bold;
    color: $primary-color;

    border-left: none;
    padding-left: 0;
  }

  h6 {
    @extend h1;
    font-size: 0.9rem;
    color: $primary-color;

    border-left: none;
    padding-left: 0;
  }


  strong {
    font-size: 1rem;
    color: $strong-text-color;
  }


  // 表(テーブル)
  table, td, th {
    border-collapse: collapse;
    border: 1px solid $border-color;
    padding: 2px 8px;
  }

  // コード
  code.highlighter-rouge {
    background-color: rgba(27, 31, 35, .07);
    padding: 0.1em 0.25em;
    color: $primary-color;
  }

  // 整形済みテキスト
  .highlighter-rouge {
    .highlight {
      pre.highlight {

        margin-bottom: 0;
        padding-left: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        line-height: 1.08em;

        code {
          // layout
          // padding: 0.1em;
          // padding-left: 1em;

          margin-bottom: 0;
          background-color: rgba(27, 31, 35, .0);

          // font
          font-family: 'Monaco', monospace, sans-serif;
          font-weight: 100;
          font-size: 80%;
          letter-spacing: 0.01em;
        }
      }
    }
  }

  // 引用
  blockquote {
    p {
      margin-top: 0;
      color: #868686;
      margin-bottom: 0;
    }
    background-color: rgb(244,244,244);
    margin-left: 16px;
    padding-left: 16px;
    // padding-top: 4px;
    border-left-color: $border-color;
    border-left-style: solid;;
    border-left-width: 1px;
    margin-bottom: 0;
  }

  ul, ol {
    line-height: 1.5em;
    margin-bottom: 1rem;
    li {
    }
  }

  .post-content-toc {
    p {
      margin-left: 16px;
    }
    background-color: rgb(242, 242, 242);
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 32px;
    line-height: 1.6em;
    font-size: 0.8em;
    ul, ol {
      margin-bottom: 0;
      padding-left: 30px;
    }
  }
  // .post-content-share {
  //   padding-top: 32px;
  // }
}

.link-container {
  border: solid 1px $border-color;
  padding: 8px;
  //background-color: #991199;
  width: 100%;
  margin-bottom: 16px;

  a {
    .link-container-image {
      //background-color: #998811;
      display: inline-block;
      width: 30%;

      img {
        display: inline-block;
        //background-color: #32969e;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        vertical-align: bottom;
      }

      margin-top: auto;
      margin-bottom: auto;

    }

    .link-container-summary {
      //background-color: #9e2e32;
      width: 69%;
      vertical-align: top;
      display: inline-block;

      .link-container-summary-title {
        //background-color: #22aa44;
        padding-bottom: 8px;
        font-size: 1.5rem;
      }

      .link-container-summary-brief {
        //background-color: #22aaff;
        color: $secondary-color;
        font-size: 0.5rem;
      }
    }
  }
}
