.post-content {
  padding-bottom: 64px;

  .post-content-tags {

  }

  h2 {
    padding-left: 16px;
    border-left-color: $border-color;
    border-left-style: solid;;
    border-left-width: 1px;

    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 32px;
  }

  h3 {
    @extend h2;
    font-size: 1.5rem;
    font-weight: normal;
    border-left: none;
    padding-left: 0;
  }


  h4 {
    @extend h2;
    font-size: 1.3rem;
    font-weight: normal;
    border-left: none;
    padding-left: 0;
  }

  .post-content-toc {
    p {
      margin-left: 16px;
    }
    ul {
      margin-bottom: 0;
    }
    background-color: rgb(242, 242, 242);
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 32px;
  }

  .post-content-share {
    padding-top: 32px;
  }
}
