// .thumbnail a {
//   text-decoration: none;
//   color: black;
// }

.top-main {
  padding-left: 0rem;
  padding-right: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
}

.top-base-section {
  background-color: #ffffff;
  padding: 2rem;
  margin: 0rem -0.98rem 2rem;

  header {
    h2 {
      font-size: 1.2rem;
      font-weight: bold;
      padding: 0.5rem 0 1.5rem;
    }
  }

  time {
    color: $secondary-color;
  }
}

.top-profile-section {
  @extend .top-base-section;

  header {
    h2 {
      padding: 0 0 1rem;
    }
  }

  .top-profile-image {
    width: 100%;
    border-radius: 50%;
  }
  .mask {
    -webkit-clip-path: circle(45% at 50% 50%);
    clip-path: circle(45% at 50% 50%);
  }
  .top-profile-name {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  .top-profile-bio {
    font-size: 0.8rem;
    color: $secondary-color;

    .top-profile-bio-list {
      list-style-type: none;
      padding-left: 0;
      li {
        padding-bottom: 0.25rem;
        padding-top: 0.25rem;
      }
    }
  }
  h3 {
    font-size: 1.2rem;
  }
}

.top-base-big-article-summary {
  h2 {
    padding-top: 0.5rem;
    font-size: 1.2rem;
    line-height: 2.0rem;
    letter-spacing: 0.05rem;
    margin-bottom: 0;
  }
}

.top-base-regular-article-summary {
  h2 {
    padding-top: 0.25rem;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
    margin-bottom: 0;
  }
  li, time {
    font-size: 0.8rem;
    margin-right: 0.1rem;
  }
}

.top-latest-articles-section {
  @extend .top-base-section;

  .top-latest1-article {
    @extend .top-base-big-article-summary;
  }

  .top-latest2-5-article {
    @extend .top-base-regular-article-summary;
  }
}

.top-ranking-section, .top-pickup-section {
  @extend .top-base-section;
  @extend .top-base-big-article-summary;
}

.top-category-section {
  @extend .top-base-section;
  @extend .top-base-regular-article-summary;
  //
  // background-color: #ffffff;
  // padding-top: 3rem;
  //
  // header {
  //   h2 {
  //     font-size: 1.2rem;
  //     padding: 1.5rem;
  //     font-weight: bold;
  //   }
  // }
  //
  // h2 {
  //   font-size: 1rem;
  // }
  // li, time {
  //   font-size: 0.8rem;
  // }
}
