body, h1, h2, .post-content h3, h3, h4, h5, p {
  color: #464646;
  font-family: monospace; }

.secondary-text {
  color: #868686; }

table, td, th {
  border-collapse: collapse;
  border: 1px solid #444444;
  padding: 2px; }

.highlight {
  padding: 4px; }

header .title {
  font-size: 32px;
  color: #464646; }
  header .title a {
    color: #464646; }
header small {
  color: #868686; }

footer {
  width: 100%;
  background-color: #343a40;
  font-size: 0.1rem; }
  footer p {
    color: #868686; }

.breadcrumbs {
  margin-bottom: 8px; }

.profile .profile-title {
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: 8px; }
.profile .profile-body .profile-image {
  width: 64px;
  height: 64px;
  margin-right: 8px; }
.profile .profile-body p {
  font-size: 0.7rem;
  margin-bottom: 0; }
.profile .profile-twitter {
  padding-top: 16px;
  padding-bottom: 16px; }

.tag-cloud {
  padding-bottom: 16px; }
  .tag-cloud .tag-cloud-title {
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 8px; }

@media screen and (max-width: 768px) and (min-width: 480px) {
  iframe .twitter-timeline-rendered {
    width: 490px !important; } }
@media screen and (max-width: 480px) {
  iframe.twitter-timeline-rendered {
    width: 450px !important;
    margin: 0 auto; } }
.timeline-Widget {
  max-width: 300px !important;
  width: 200px !important; }

.related-posts .related-posts-title {
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: 16px; }
  .related-posts .related-posts-title h2, .related-posts .related-posts-title .post-content h3, .post-content .related-posts .related-posts-title h3 {
    font-size: 1.25rem; }
.related-posts .related-posts-body {
  font-size: 0.8rem; }

.global-nav-current {
  color: green; }

.thumbnail a {
  text-decoration: none;
  color: black; }

.post-content {
  padding-bottom: 64px; }
  .post-content h2, .post-content h3 {
    padding-left: 16px;
    border-left-color: #444444;
    border-left-style: solid;
    border-left-width: 1px;
    font-size: 1.5rem;
    margin-bottom: 16px;
    margin-top: 16px; }
  .post-content h3 {
    font-size: 1.2rem;
    border-left: none;
    padding-left: 0; }
  .post-content .post-content-toc {
    background-color: #f2f2f2;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 32px; }
    .post-content .post-content-toc p {
      margin-left: 16px; }
    .post-content .post-content-toc ul {
      margin-bottom: 0; }
  .post-content .post-content-share {
    padding-top: 32px; }

.body-summary h1 {
  font-size: 2rem; }

.thumbnail {
  margin-bottom: 32px; }

.caption h2, .caption .post-content h3, .post-content .caption h3 {
  font-size: 1.5rem; }
.caption ul li a {
  color: #007bff; }

.pagination {
  padding: 16px; }
